<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base::head(title='Dashboard')"></head>
	<body>
		<th:block th:replace="base::navbar" />

		<div class="container-fluid">
			<div class="row">
				<div class="col d-none d-lg-block">l</div>

				<!---------------------------------->

				<div class="col-12 col-lg-10 mt-1" id="cards">

					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link" th:classappend="${section.equals('lots')} ? 'active'" id="lots-tab" data-toggle="tab" href="#lots" role="tab">Lots</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${section.equals('users')} ? 'active'" id="users-tab" data-toggle="tab" href="#users" role="tab">Users</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${section.equals('photos')} ? 'active'" id="photos-tab" data-toggle="tab" href="#photos" role="tab">Images</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${section.equals('categories')} ? 'active'" id="categories-tab" data-toggle="tab" href="#categories" role="tab">Categories</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${section.equals('cities')} ? 'active'" id="cities-tab" data-toggle="tab" href="#cities" role="tab">Cities</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${section.equals('conditions')} ? 'active'" id="conditions-tab" data-toggle="tab" href="#conditions" role="tab">Conditions</a>
						</li>
					</ul>

					<div class="tab-content" id="tabContent">

						<!---------------------------------->

						<div class="tab-pane fade" th:classappend="${section.equals('lots')} ? 'show active'" id="lots" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<table class="table table-sm table-hover">
										<thead>
											<tr>
												<th scope="col">Id
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Title
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Min price
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Current price
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Max price
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Author
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Created at
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Modified at
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Category
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Condition
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">City
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>
										<tbody th:each="lot : ${lots}">
											<tr>
												<th scope="row" th:text="${lot.getId()}">1</th>
												<td><a href="#" th:text="${lot.getTitle()}">Card title</a></td>
												<td ><span class="badge badge-primary" th:text="${lot.getMinPrice()}">50 p.</span></td>
												<td ><span class="badge badge-primary" th:text="${lot.getCurrentPrice()}">100 p.</span></td>
												<td ><span class="badge badge-primary" th:text="${lot.getMaxPrice()}">150 p.</span></td>
												<td><a href="#" th:text="${lot.getUser().getUsername()}">username1</a></td>
												<td th:text="${#temporals.format(lot.getCreationTime(), 'yyyy-MM-dd HH:mm:ss')}">01.01.01 00:01</td>
												<td th:text="${#temporals.format(lot.getTimeLastMod(), 'yyyy-MM-dd HH:mm:ss')}">02.02.02 00:02</td>
												<td th:text="${lot.getCategory().getName()}">Электроника</td>
												<td th:text="${lot.getCondition().getName()}">Отличное</td>
												<td th:text="${lot.getCity().getName()}">city1</td>
												<td>
													<!-- <a class="btn btn-outline-primary p-1" href="#">Message</a> -->
													<a class="btn btn-outline-primary p-1" href="#">Edit</a>
													<a class="btn btn-outline-danger p-1" href="#">Remove</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>


							<div class="row" th:if="${lots.totalPages > 1}">
								<div class="col"></div>

								<nav col="col-8">
									<ul class="pagination">
										<li class="page-item" th:each="pageNumber: ${#numbers.sequence(1, lots.totalPages)}" th:classappend="${pageNumber == lots.number+1} ? active">
											<a class="page-link" th:href="@{/dashboard(section='lots', size=${lots.size}, page=${pageNumber})}" th:text="${pageNumber}">1</a>
										</li>
									</ul>
								</nav>

								<div class="col"></div>
							</div>

						</div>

						<!---------------------------------->

						<div class="tab-pane fade" th:classappend="${section.equals('users')} ? 'show active'" id="users" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<table class="table table-sm table-hover">
										<thead>
											<tr>
												<th scope="col">Id
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Username
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">First name
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Second name
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th>Phonenumber</th>
												<th>Email</th>
												<th scope="col">Role
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">City
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>
										<tbody th:each="user : ${users}">
											<tr>
												<th scope="row" th:text="${user.getId()}">1</th>
												<td><a href="#" th:text="${user.getUsername()}">username1</a></td>
												<td><a href="#" th:text="${user.getFirstName()}">Carl</a></td>
												<td><a href="#" th:text="${user.getLastName()}">Johnson</a></td>
												<td th:text="${user.getPhoneNumber()}">+7(123)456-78-90</td>
												<td th:text="${user.getEmail()}">email1@example.com</td>
												<td th:text="${user.getRole().getName()}">USER</td>
												<td th:text="${user.getCity().getName()}">city1</td>
												<td>
													<!-- <a class="btn btn-outline-primary p-1" href="#">Message</a> -->
													<a class="btn btn-outline-primary p-1" href="#">Edit</a>
													<a class="btn btn-outline-danger p-1" href="#">Remove</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row" th:if="${users.totalPages > 1}">
								<div class="col"></div>

								<nav col="col-8">
									<ul class="pagination">
										<li class="page-item" th:each="pageNumber: ${#numbers.sequence(1, users.totalPages)}" th:classappend="${pageNumber == users.number+1} ? active">
											<a class="page-link" th:href="@{/dashboard(section='users', size=${users.size}, page=${pageNumber})}" th:text="${pageNumber}">1</a>
										</li>
									</ul>
								</nav>

								<div class="col"></div>
							</div>
						</div>

						<!---------------------------------->

						<div class="tab-pane fade" th:classappend="${section.equals('photos')} ? 'show active'" id="photos" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<table class="table table-sm table-hover">
										<thead>
											<tr>
												<th scope="col">Id
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Image</th>
												<th scope="col">Lot
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Username
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Url</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>
										<tbody th:each="photo : ${photos}">
											<tr>
												<th scope="row" th:text="${photo.getId()}">1</th>
												<td>
													<img style="object-fit: cover; width: 100px; height: 100px" th:src="${photo.getUrl()}">
												</td>
												<td><a href="#" th:text="${photo.getLot().getTitle()}">Card title</a></td>
												<td><a href="#" th:text="${photo.getLot().getUser().getUsername()}">username1</a></td>
												<td><a target="_blank" th:href="${photo.getUrl()}" th:text="${photo.getUrl()}">http://far.far/away.jpg</a></td>
												<td>
													<!-- <a class="btn btn-outline-primary p-1" href="#">Message</a> -->
													<a class="btn btn-outline-danger p-1" href="#">Remove</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row" th:if="${photos.totalPages > 1}">
								<div class="col"></div>

								<nav col="col-8">
									<ul class="pagination">
										<li class="page-item" th:each="pageNumber: ${#numbers.sequence(1, photos.totalPages)}" th:classappend="${pageNumber == photos.number+1} ? active">
											<a class="page-link" th:href="@{/dashboard(section='photos', size=${photos.size}, page=${pageNumber})}" th:text="${pageNumber}">1</a>
										</li>
									</ul>
								</nav>

								<div class="col"></div>
							</div>
						</div>

						<!---------------------------------->

						<div class="tab-pane fade" th:classappend="${section.equals('categories')} ? 'show active'" id="categories" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<table class="table table-sm table-hover">
										<thead>
											<tr>
												<th scope="col">Id
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Name
													<a href="#">▲</a>
													<a href="#">▼</a>
												</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>
										<tbody th:each="category : ${categories}">
											<tr>
												<th scope="row" th:text="${category.getId()}">1</th>
												<td th:text="${category.getName()}">Одежда</td>
												<td>
													<a class="btn btn-outline-danger p-1" href="#">Remove</a>
												</td>
										</tbody>
									</table>
								</div>
							</div>
							<hr>
							<form>
								<div class="form-row">
									<div class="col-2">
										<label for="newCategoryInput">New category:</label>
									</div>
									<div class="col-6">
										<input id="newCategoryInput" class="form-control" placeholder="New category name" type="text">
									</div>
									<div class="col">
										<a class="btn btn-outline-primary" href="#">Add</a>
									</div>
								</div>
							</form>
						</div>

						<!---------------------------------->

						<div class="tab-pane fade" th:classappend="${section.equals('cities')} ? 'show active'" id="cities" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<table class="table table-sm table-hover">
										<thead>
										<tr>
											<th scope="col">Id
												<a href="#">▲</a>
												<a href="#">▼</a>
											</th>
											<th scope="col">Name
												<a href="#">▲</a>
												<a href="#">▼</a>
											</th>
											<th scope="col">Actions</th>
										</tr>
										</thead>
										<tbody th:each="city : ${cities}">
										<tr>
											<th scope="row" th:text="${city.getId()}">1</th>
											<td th:text="${city.getName()}">city1</td>
											<td>
												<a class="btn btn-outline-danger p-1" href="#">Remove</a>
											</td>
										</tbody>
									</table>
								</div>
							</div>
							<hr>
							<form>
								<div class="form-row">
									<div class="col-2">
										<label for="newCityInput">New city:</label>
									</div>
									<div class="col-6">
										<input id="newCityInput" class="form-control" placeholder="New city name" type="text">
									</div>
									<div class="col">
										<a class="btn btn-outline-primary" href="#">Add</a>
									</div>
								</div>
							</form>
						</div>

						<!---------------------------------->

						<div class="tab-pane fade" th:classappend="${section.equals('conditions')} ? 'show active'" id="conditions" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<table class="table table-sm table-hover">
										<thead>
										<tr>
											<th scope="col">Id
												<a href="#">▲</a>
												<a href="#">▼</a>
											</th>
											<th scope="col">Name
												<a href="#">▲</a>
												<a href="#">▼</a>
											</th>
											<th scope="col">Actions</th>
										</tr>
										</thead>
										<tbody th:each="condition : ${conditions}">
										<tr>
											<th scope="row" th:text="${condition.getId()}">1</th>
											<td th:text="${condition.getName()}">Отличное</td>
											<td>
												<a class="btn btn-outline-danger p-1" href="#">Remove</a>
											</td>
										</tbody>
									</table>
								</div>
							</div>
							<hr>
							<form>
								<div class="form-row">
									<div class="col-2">
										<label for="newConditionInput">New condition:</label>
									</div>
									<div class="col-6">
										<input id="newConditionInput" class="form-control" placeholder="New condition name" type="text">
									</div>
									<div class="col">
										<a class="btn btn-outline-primary" href="#">Add</a>
									</div>
								</div>
							</form>
						</div>

						<!---------------------------------->

					</div>
				</div>

				<!---------------------------------->

				<div class="col d-none d-lg-block">r</div>
			</div>
		</div>

		<th:block th:insert="base::scripts" />
	</body>
</html>