<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::head(title='Home')"></head>
<body>
<th:block th:replace="base::navbar" />

<div class="container-fluid">
    <div class="row">
        <div class="col d-none d-lg-block">l</div>

        <!---------------------------------->

        <div class="col-12 col-lg-10">
            <div class="row">
                <div class="col">
<!--                    <h1>Hello, World!</h1>-->
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-3" id="filters">

                    <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary btn-block d-md-none"
                            data-target="#collapseFilter" data-toggle="collapse" type="button">
                        Filter lots
                    </button>

                    <div class="collapse" id="collapseFilter">
                        <form id="filterParameters" th:action="@{/}" method="get">
                            <label for="filterParameters"><h4>Filter</h4></label>

                            <div class="form-group" id="categoryFilterSelect">
                                <label for="categoryFilterSelect">Select category</label>
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="categoryGroupSelect" name="categoryFilter">
                                        <option th:selected="${categoryFilterId==-1}" value="-1">Any category</option>
                                        <option th:each="category : ${categories}" th:text="${category.name}" th:selected="${categoryFilterId==category.id}" th:value="${category.id}">One</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="cityFilterSelect">
                                <label for="cityFilterSelect">Select city</label>
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="cityGroupSelect" name="cityFilter">
                                        <option th:selected="${cityFilterId==-1}" value="-1">Any city</option>
                                        <option th:each="city : ${cities}" th:text="${city.name}" th:selected="${cityFilterId==city.id}" th:value="${city.id}">One</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="conditionFilterSelect">
                                <label for="conditionFilterSelect">Select condition</label>
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="conditionGroupSelect" name="conditionFilter">
                                        <option th:selected="${conditionFilterId==-1}" value="-1">Any condition</option>
                                        <option th:each="condition : ${conditions}" th:text="${condition.name}" th:selected="${conditionFilterId==condition.id}" th:value="${condition.id}">One</option>
                                    </select>
                                </div>
                            </div>

                            <hr>

                            <button class="btn btn-primary btn-block" type="submit">Filter</button>
                        </form>
                    </div>

                    <hr>
                </div>

                <!---------------------------------->

                <div class="col-12 col-md-9" id="cards">
                    <form id="searchForm" th:action="@{/}" method="get">
                    <div class="form-row">
                        <div class="col-12">
                                <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search" name="searchText" th:value="${searchText}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" id="searchButton"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            Поиск
                            <div class="form-check form-check-inline pl-3">
                                <input class="form-check-input" type="radio" name="selectOption" id="searchRadioOption1" value="name" th:checked="${selectOption.equals('name')}">
                                <label class="form-check-label" for="searchRadioOption1">в заголовке</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="selectOption" id="searchRadioOption2" value="description" th:checked="${selectOption.equals('description')}">
                                <label class="form-check-label" for="searchRadioOption2">в описании</label>
                            </div>
                        </div>
                    </div>
                    </form>

                    <hr>

                    <div class="row">
                        <div class="col">
                            Found <span th:text="${lots.totalElements}">X</span>
                            <span th:text="${lots.totalElements>1} ? lots : lot">lots</span>
                        </div>
                        <div class="col text-right">
                            <h6>
                                <span class="pr-3">Sort by:</span>
                                price
                                <a th:href="@{/(sortBy='currentPrice', sortDir='asc')}">▲</a>
                                <a th:href="@{/(sortBy='currentPrice', sortDir='desc')}">▼</a>
                                creation time
                                <a th:href="@{/(sortBy='creationTime', sortDir='asc')}">▲</a>
                                <a th:href="@{/(sortBy='creationTime', sortDir='desc')}">▼</a>
                            </h6>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <th:block th:each="lot : ${lots}">
                                <div class="card mt-2" style="box-shadow: 3px 3px 5px LightGrey; height: 150px">
                                    <div class="row no-gutters">
                                        <div class="col-4" style="max-height:150px">
                                            <a th:href="@{/lot(id=${lot.id})}">
                                                <img class="card-img h-100"
                                                     th:src="${lot.photoUrls.isEmpty()} ? '/images/no-image-icon.png' : ${lot.photoUrls.get(0)}"
                                                     style="object-fit: cover">

                                            </a>
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h2 class="card-title">
                                                            <a class="text-dark" href="#" th:text="${lot.name}">Card title</a>
                                                        </h2>
                                                    </div>
                                                </div>

                                                <div class="row text-center">
                                                    <div class="col border-right">
                                                        <h3>
                                                            <span class="badge badge-primary" th:text="${lot.currentPrice} + ' р.'">100 p.</span>
                                                        </h3>
                                                    </div>
                                                    <div class="col">
                                                        <h6 th:text="${#temporals.format(lot.creationTime, 'dd.MM.yyyy HH:mm')}">01.01.2001 20.01.01</h6>
                                                    </div>
                                                    <div class="col border-left">
                                                        <i class="far fa-user"></i>
                                                        <a class="text-info" href="#" th:text="${lot.userDto.username}">Username</a>
                                                    </div>
                                                </div>

                                                <div class="row text-center">
                                                    <div class="col border-right">
                                                        <h6 th:text="${lot.category.name}"> Category </h6>
                                                    </div>
                                                    <div class="col">
                                                        <h6 th:text="${lot.city.name}"> City </h6>
                                                    </div>
                                                    <div class="col border-left">
                                                        <h6 th:text="${lot.condition.name}"> Condition </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>

                            <div class="text-center" th:if="${lots.totalPages == 0}">
                                <h1>Поиск не нашёл ничего. Печаль.</h1>
                            </div>
                        </div>
                    </div>

                    <hr class="my-3">

                    <div class="row" th:if="${lots.totalPages > 1}">
                        <div class="col"></div>

                        <nav col="col-8">
                            <ul class="pagination">
                                <li class="page-item" th:each="pageNumber: ${#numbers.sequence(1, lots.totalPages)}" th:classappend="${pageNumber == lots.number+1} ? active">
                                    <a class="page-link" th:href="@{/(page=${pageNumber})}" th:text="${pageNumber}">1</a>
                                </li>
                            </ul>
                        </nav>

                        <div class="col"></div>
                    </div>
                </div>

            </div>
        </div>

        <!---------------------------------->

        <div class="col d-none d-lg-block">r</div>
    </div>


</div>

<th:block th:insert="base::scripts" />
</body>
</html>