<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sample</title>
</head>
<body>
    <ul th:each="lot : ${lots}">
        <li>
            <p th:text="${'ID: ' + lot.id}"></p>
            <p th:text="${'OWNER FIRST NAME: ' + lot.user.firstName}"></p>
            <p th:text="${'OWNER LAST NAME: ' + lot.user.lastName}"></p>
            <p th:text="${'CATEGORY: ' + lot.categoryName}"></p>
            <p th:text="${'CONDITION: ' + lot.condition.name()}"></p>
            <br>
        </li>
    </ul>
</body>
</html>